.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F0F4F9;
  padding: 14px;
  width: 100%;
  gap: 10px;
  height: 100%;
}

.container:hover {
  background-color: #dfe3e7;
}
